@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-body: #1c1d26;
  --color-body-secondary: #38373e;

  --color-brand-acc: #02735e;
  --color-brand-acc-soft: #02614f;

  --color-main: #f9fafb;
  --color-muted: #9ca3af;

  --color-border-soft: #111827;
  --color-neutral-light: #bfbfbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  body {
    font-family: var(--font-montserrat), system-ui, sans-serif;
  }
  .user-name-font {
    font-family: var(--font-anton), system-ui, sans-serif;
  }
  .title-tech-font {
    font-family: var(--font-orbitron), system-ui, sans-serif;
  }
}

@keyframes pulseShadow {
  0% {
    filter: drop-shadow(0 0 2px #00c203);
  }
  50% {
    filter: drop-shadow(0 0 4px #00c203);
  }
  100% {
    filter: drop-shadow(0 0 2px #00c203);
  }
}

.pulse-latency {
  animation: pulseShadow 3s ease-in-out infinite;
}
